body {
  background-color: #8fd59f;
  text-align: center;
}

#wrap {
  background-color: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

legend {
  color: #141823;
  font-size: 25px;
  font-weight: bold;
}

.signup-btn {
  background: #504d4d;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #625555;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.form .form-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #home {
    margin-top: 50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight: bold;
  }
}
